  header{
    background-color: #fff 
  }


  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #4CAF50;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }

  img {
    width :125px;
    height: 125px;
  }

  article#images{
      text-align: center;  
  }


  .canvas{
    display:inline-block;
    margin-left: 380px;

  }


  #formulario{
    position:relative;
    border-radius: 10px;
    border: 1px #EAE5E5;
    background-color: #FAF6F6;
    width: 380px;
    margin-left: 80px;
    margin-top: 10px;
    display:inline-block;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;

  }

   #ticket{
    position:relative;
    border-radius: 10px;
    border: 1px #FAF6F6;
    background-color: #FAF6F6;
    width: 380px;
    margin-left: 100px;
    margin-top: 1px;
    display:inline-block;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;

   }


  body{
    font-size: 1em !important;
     color: #000 !important;
     font-family: Arial !important;
  }



  table {
      border-collapse: collapse;
      width: 680px;
  }

  th {
      text-align: left;
      padding: 8px;
  }

   td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }



  th {
      background-color: #4CAF50;
      color: white;
  }

  #fbar {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    height: 90px;
}
#privacy{
  font-size: 12px;
  margin-left: 150px;
  text-decoration:none;
  color :#B9B3B3;
   display:inline-block;

}

#site{
  font-size: 12px;
  text-decoration:none;
  color :#B9B3B3;
   display:inline-block;

}
#copyRight{
font-size: 12px;
color :#B9B3B3;
margin-left: 350px;
 display:inline-block;
}

#tableCocina{
margin-left: 350px;
border: 1px solid;
max-height: 450px;
overflow-y:auto; 

width: 680px;
}
